/* .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */

.menu li {
    display: flex;
}

.menu li a {
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: rgb(53, 53, 53);
    text-decoration: none;
    padding: 22px 12px;
    transition: all 0.3s ease-in-out 0s;
}